@model IEnumerable<DomainObject.Entitys.New>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Print Version</h1>
    <div> 
        @*<table class="table">
            <tr>
                <td style="font-size:x-large">
                    @Html.DisplayFor(model => model.Header)
                </td>
                <td style="float:right">
                    @Html.DisplayFor(model => model.CreateDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Body)
                </td>
            </tr>
        </table>*@
        @foreach (var item in Model)
        {
            <table class="table">
                <tr>
                    <td style="font-size:x-large">
                        @Html.DisplayFor(itemModel => item.Header)
                    </td>
                    <td style="float:right">
                        @Html.DisplayFor(itemModel => item.CreateDate)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(itemModel => item.Body)
                    </td>
                </tr>
            </table>
        }       
    </div>
</body>
</html>
